<style>
  #hourglass_empty{
    text-align: center;
  }

  #hourglass_emptyIcon{
    font-size: 12px;
    vertical-align: text-top;
  }
</style>

<div>
  <% items = Item.where(holder: current_user) %>
  <% items = items.sort_by{|item| item.rental_end} %>
  <% if items.empty? %>
    <p class="body1"><%=t 'views.dashboard.no_lent_items' %></p>
  <% else %>
    <div class="container text-center">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 align-items-end justify-content-start">
        <% items.each do |item| %>
          <div class="col" ;>
            <% if item.image.attached? %>
              <%= image_tag(item.image, class: "rounded mb-2 img-fluid rect-img") %>
            <% else %>
              <%= image_tag("image_default.svg", class: "rounded mb-2 img-fluid rect-img") %>
            <% end %>
            <p class="body-2"><%= item.name %></p>
            <% if item.remaining_rental_duration < 172_800 %>
              <p class="caption-secondary" id="hourglass_empty">
              <span class="material-symbols-outlined" id="hourglass_emptyIcon">
                hourglass_empty
              </span>
              <%= item.print_remaining_rental_duration%></p>
            <% elsif item.remaining_rental_duration < 604_800 %>
              <p class="caption-primary" id="hourglass_empty">
                <span class="material-symbols-outlined" id="hourglass_emptyIcon">
                  hourglass_empty
                </span>
                <%= item.print_remaining_rental_duration%></p>
            <% else %>
              <p class="caption" id="hourglass_empty">
                <span class="material-symbols-outlined" id="hourglass_emptyIcon">
                  hourglass_empty
                </span>
                <%= item.print_remaining_rental_duration%></p>
            <%end%>             
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>