<div>
  <% items = current_user.owned_items.sort_by { |item| item.name.downcase } %>
  <% if items.empty? %>
    <p class="body-1"><%= t 'views.dashboard.offered_items.nothing_offered' %></p>
  <% else %>
    <div class="container">
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
        <% items.each do |item| %>
          <div>
            <%= render :partial => "partials/itemcard", :locals => { :item => item } %>
            <% if item.holder.nil? %>
              <p class="caption text-center"><%= t 'views.dashboard.offered_items.not_lent' %></p>
            <% elsif item.holder == current_user.id %>
              <p class="caption text-center"><%= t 'views.dashboard.offered_items.lent_by_you' %></p>
            <% else %>
              <p class="caption mb-1 text-center"><%= t 'views.dashboard.offered_items.lent' %></p>
              <% if item.remaining_rental_duration <= 0 %>
                <div class="caption-secondary text-center"><%= t 'views.dashboard.offered_items.overdue' %></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>