<div>
  <% wishlist = current_user.wishlist %>
  <% if wishlist.empty? %>
    <p class="body-1"><%= t 'views.dashboard.wishlist.missing_wishlist' %></p>
  <% else %>
    <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-4 g-3">
      <% wishlist.each do |result| %>
        <div>
          <%= render :partial => "partials/itemcard", :locals => { :item => result } %>
          <% if result.holder.nil? %>
            <p class="caption"><%= t 'views.dashboard.wishlist.available' %></p>
          <% elsif result.holder == current_user.id %>
            <p class="caption"><%= t 'views.dashboard.wishlist.lend_by_you' %></p>
          <% else %>
            <p class="caption"><%= t 'views.dashboard.wishlist.not_available' %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
  <% end %>
</div>