<div>
  <% wishlist = current_user.wishlist %>
  <% if wishlist.empty? %>
    <p class="body-1"><%= t 'views.dashboard.wishlist.missing_wishlist' %></p>
  <% else %>
    <div class="container text-center">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 align-items-end justify-content-start">
        <% wishlist.each do |item| %>
          <div class="col">
            <% if item.image.attached? %>
              <%= image_tag(item.image, class: "rounded mb-2 img-fluid rect-img") %>
            <% else %>
              <%= image_tag("image_default.svg", class: "rounded mb-2 img-fluid rect-img") %>
            <% end %>
            <p class="body-2 mb-0"><%= item.name %></p>
            <% if item.holder.nil? %>
              <p class="caption"><%= t 'views.dashboard.wishlist.available' %></p>
            <% elsif item.holder == current_user.id %>
              <p class="caption"><%= t 'views.dashboard.wishlist.lend_by_you' %></p>
            <% else %>
              <p class="caption"><%= t 'views.dashboard.wishlist.not_available' %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>