<div class="modal-fullscreen modal fade" id="filter-modal" tabindex="-1" aria-labelledby="filter-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 subtitle" id="filter-modal-title"><%= t 'views.search.filter_modal.title' %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="subtitle mt-2"><%= t 'views.search.filter_modal.availability' %></h4>
                <%= select_tag "availability", options_for_select(@availability_options, params[:availability]), class: "form-select", include_blank: t('views.search.filter_modal.all') %>
                <h4 class="subtitle mt-2"><%= t 'views.search.filter_modal.category' %></h4>
                <%= select_tag "type", options_for_select(@category_options, params[:type]), class: "form-select", include_blank: t('views.search.filter_modal.all') %>
                <h4 class="subtitle mt-2"><%= t 'views.search.filter_modal.group' %></h4>
                <%= select_tag "group", options_for_select(@group_options, params[:group]), class: "form-select", include_blank: t('views.search.filter_modal.all') %>
            </div>
            <div class="modal-footer align-center">
                <button class="btn btn-secondary btn-full-width" data-bs-dismiss="modal" type="submit"><%= t 'views.search.filter_modal.results' %></button>
            </div>
        </div>
    </div>
</div>