<style>
    .dropbtn {
        background-color: #e9e9ed;
        /*color: white;
        padding: 16px;
        font-size: 16px;
        border: none;*/
        border: 1px solid #a2a2ae;
        cursor: pointer;
    }
/*
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }
*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        /*min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
        z-index: 1;
    }

/*    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
*/
    /*.dropdown a:hover {background-color: #ddd;}*/

    .show {display: block;}
</style>

<script>
    function dropdown() {
        document.getElementById("filter-dropdown").classList.toggle("show");
        console.log("toggle dropdown");
    }
</script>

<h1>Search</h1>

<div class="modal fade" id="qrscanner" tabindex="-1" aria-labelledby="qrScannerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="qrScannerLabel">QR-Scanner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your scanner goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%= form_tag(search_path, method: :get) do %>
    <%= label_tag(:search, "Search for:") %>
    <div class="input-group">
        <%= text_field_tag :search, params[:search] %>
        <%= button_tag :qr_scanner, type: "button", class: ["btn btn-outline-secondary"], data: { "bs-toggle": "modal", "bs-target": "#qrscanner" } %>
    </div>
    <div class="dropdown">
        <p onclick="dropdown()" class="dropbtn">Dropdown</p>
        <div id="filter-dropdown" class="dropdown-content">
            <p>
                <%= select_tag "filter_property", raw("<option>Title</option><option>Author</option><option>Release</option>") %> <%# https://apidock.com/rails/ActionView/Helpers/FormTagHelper/select_tag %>
                <%= text_field_tag :filter_value, params[:filter_value] %>
            </p>
        </div>
    </div>
<% end %>

<% if @results %>
<h2>Your search results:</h2>
<ul>
    <% @results.each do |result| %>
        <li><%= result %></li>
    <% end %>
</ul>
<% end %>