
<%= render "qr-scanner" %>

<%= form_tag(search_path, method: :get) do %>
    <div class="input-group mb-3 mt-3">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Suche" %>
        <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#qrscanner">
            <i class="bi bi-qr-code-scan"></i>
        </button>
    </div>
    
    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" aria-expanded="false" data-bs-target="#filter-modal">
        FILTER <i class="bi bi-sliders2-vertical"></i>
    </button>
    <%= render "filter-modal" %>
<% end %>

<% if @results %>
<h2>Your search results:</h2>
<section class="row row-cols-1 row-cols-md-4 g-4">
    <% @results.each do |result| %>
        <div class="card ms-2" style="width: 18rem; border: none;">
            <img src="https://www.apexgolfcarts.com/assets/images/20200702_144153.jpg" class="card-img-top" alt="<%= result %>" style="border-radius: 5px;">
            <h5 class="card-title mt-1" style="white-space: nowrap; overflow: hidden;"><%= result %></h5>
        </div>
    <% end %>
</section>



<% end %>