<h1><%= t 'views.search.title' %></h1>

<div class="modal fade" id="qrscanner" tabindex="-1" aria-labelledby="qrScannerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="qrScannerLabel">QR-Scanner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your scanner goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%= form_tag(search_path, method: :get) do %>
    <div class="input-group mb-3">
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#qrscanner">
            <i class="bi bi-qr-code-scan"></i>
        </button>
    </div>
    <div class="btn-group mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu">
            <div class="input-group">
                <%= select_tag "filter_property", raw("<option>Title</option><option>Author</option><option>Release</option>"), class: "form-select" %> <%# https://apidock.com/rails/ActionView/Helpers/FormTagHelper/select_tag %>
                <%= text_field_tag :filter_value, params[:filter_value], class: "form-control" %>
            </div>
        </div>
    </div>
<% end %>

<% if @results %>
<h2>Your search results:</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <% @results.each do |result| %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= result.name %></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="<%= item_path(result) %>" class="stretched-link"></a>
            </div>
        </div>
    <% end %>
</div>
<% end %>