<nav class="bk-nav border-bottom border-top">
    <% @nav.each do |nav_item| %>
        <%= link_to nav_item[:path], class: "bk-nav-element" do %>
            <i class="<%= nav_item[:icon] %>"></i>
            <span class="bk-nav-text"><%= t(nav_item[:text]) %></span>
        <% end %>
    <% end %>
    <div>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Select Language
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li>
              <%= link_to "English", { :locale => 'en' }, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Deutsch", { :locale => 'de' }, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
    </div>
</nav>