<button type="button" style="background-color: <%= notification.unread == true ? "#cce4ec" : "#dddfe0c" %> !important"
        class="btn btn-notification" data-bs-toggle="modal" data-bs-target="#<%= "notificationModal#{notification.id}" %>">
  <div class="notification">
    <h2 class="subtitle">
      <%= notification.title %>
    </h2>
    <p class="body-1">
      <%= notification.description %>
    </p>
    <p class="timestamp">
      <%= notification.parse_time %>
    </p>
  </div>
</button>

<!-- Modal -->
<div class="modal fade" id="<%= "notificationModal#{notification.id}" %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= notification.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if notification.active == false %>
          <% if notification.accepted == true %>
            <h2> <%= t 'views.notifications.lend_request.accepted' %></h2>
          <% else %>
            <h2> <%= t 'views.notifications.lend_request.declined' %></h2>
          <% end %>
        <% end %>
        <p>
          <%= notification.description %>
          <% unless notification.item.image.nil? %>
          <div class="col-md-4">
              <%= image_tag notification.item.image_url, class: "img-responsive rounded mx-auto d-block", style: "max-width: 13em" %>
          </div>
          <% end %>
        </p>
      </div>

      <div class="modal-footer">
        <% if notification.active == true %>
          <%= button_to t("defaults.decline"), deny_lend_path(id: notification.item.id), class: "btn btn-danger" %>
          <%= button_to t("defaults.accept"), accept_lend_path(id: notification.item.id), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $('<%="notificationModal#{notification.id}" %>').on('shown.bs.modal', function (e) {
        "<% notification.mark_as_read%>";
    })
</script>
