<p style="color: green"><%= notice %></p>

<div id="notifications">
  <% @dates.each do |(date, notifications)| %>
    <h2>
      <%= date %>
    </h2>
    <div class="notification-grey-box">
    <% notifications.each do |notification|%>
      <div class="container notification">
        <div class="row row-cols-2 ">          
          <div class="col-sm-1 align-self-center">
            <%= render_if_exists notification.custom_partial, notification: notification %>
          </div>
          <div class="col-sm-11 align-self-center ">
            <h3>
                <%= notification.title %>
            </h3>
            <p>
              <%= notification.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>



