<p style="color: green"><%= notice %></p>

  <% if @active_dates.empty? and @inactive_dates.empty? %>
  <div class="vh-100 d-flex align-items-center justify-content-center">
    <p class="h1" style="text-align: center"><%= t 'views.notifications.no_notifications' %></p>
  </div>
  <%else %>
  <h3 class="subtitle mt-1"><%= t 'views.notifications.title' %></h3>
  <div id="notifications">
    <% @active_dates.each do |(date, notifications)| %>
      <% notifications.each do |notification| %>
        <div class="container notification">
          <div class="row ">
            <div class="align-self-center">
              <%= render_if_exists notification.custom_partial, notification: notification %>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
    <h3 class="subtitle mt-1">
      <%= t 'views.notifications.deletion_history' %>
    </h3>
    <% @inactive_dates.each do |(date, notifications)| %>
      <% notifications.each do |notification| %>
        <div class="container notification">
          <div class="row ">
            <div class="align-self-center">
              <%= render_if_exists notification.custom_partial, notification: notification %>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  <%end%>
</div>



