<p style="color: green"><%= notice %></p>

<h2><%= t 'views.notifications.title' %></h2>

<div id="notifications">
  <!-- show text if there are no notifications -->
  <% if @notifications.nil? %>
    <p class="body-1"><%= t 'views.notifications.no_notifications' %></p>
  <% end %>
  <% @active_dates.each do |(date, notifications)| %>
    <% notifications.each do |notification| %>
      <div class="container notification">
        <div class="row ">          
          <div class="align-self-center">
            <%= render_if_exists notification.custom_partial, notification: notification %>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
  <h2>
    <%= t 'views.notifications.deletion_history' %>
  </h2>
  <% @inactive_dates.each do |(date, notifications)| %>
    <% notifications.each do |notification| %>
      <div class="container notification">
        <div class="row ">          
          <div class="align-self-center">
            <%= render_if_exists notification.custom_partial, notification: notification %>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>



