<style>
.notification-unread-box{
  color: #b1063a;
}
</style>
<p style="color: green"><%= notice %></p>


<h2><%= t 'views.notifications.title' %></h2>

<div id="notifications">
  <% @active_dates.each do |(date, notifications)| %>
    <% notifications.each do |notification| %>
    <%if notification.unread == true%>
      <div class="notification-unread-box">
    <% else %>
      <div class="notification-read-box">
    <%end %>
    <div class="notification" onclick="location.href='<%= 'notifications/' + notification.id.to_s %>'">
            <h3>
              <%= notification.title %> 
            </h3>
            <p>
              <%= notification.description %>
            </p>
        </div>
      <% end %>
    </div>
  <% end %>
  <h2>
    <%= t 'views.notifications.deletion_history' %>
  </h2>
  <% @inactive_dates.each do |(date, notifications)| %>
      <% notifications.each do |notification| %>
    <%if notification.unread == true %>
      <div class="notification-unread-box">
    <% else %>
      <div class="notification-read-box">
    <%end %>
    <div class="notification" onclick="location.href='<%= 'notifications/' + notification.id.to_s %>'">
          <h3>
            <%= notification.title %>
          </h3>
          <p>
            <%= notification.description %>
          </p>
        </div>
      <% end %>
      ˚
    </div>

  <% end %>
</div>
