<h1><%= @group.name %></h1>

<h2><%= t 'views.groups.owners' %></h2>
<ul id="group-owners">
<% @group.owners.each do |user| %>
    <li><%= user.name %></li>
<% end %>
  </ul>

<h2><%= t 'views.groups.members' %></h2>
<ul id="group-members">
<% @group.members_without_ownership.each do |user| %>
    <li><%= user.name %></li>
<% end %>
</ul>
