<head>
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
      circle {
          border-radius: 50%;
      }
  </style>
</head>
<p style="text-align:right">
  <%= link_to edit_user_registration_path do %>
    <%= image_tag "edit_square.png", size: "35x35", alt: "Profil bearbeiten"%>
  <% end %>
</p>

<p style="text-align:center">
  <%= image_tag "profile_picture_placeholder.png", class: "rounded-circle",  size: "128x128", alt: "Profilbild"%>
</p>

<h1 style="text-align:center; font-size: 26px; font-family: 'Roboto'; font-weight: 300; color: #394044;"> <%= @user.name %> </h1>

<h2 style="text-align:left; font-size: 18px; font-family: 'Roboto'; font-weight: 700; color: #B1063A;">Rollen</h2>
<p style="text-align:left; font-size: 18px; font-family: 'Roboto'; font-weight: 400; color: #394044;"> Student</p>

<h2 style="text-align:left; font-size: 18px; font-family: 'Roboto'; font-weight: 700; color: #B1063A;">Email</h2>
<p style="text-align:left; font-size: 18px; font-family: 'Roboto'; font-weight: 400; color: #394044;"> <%= @user.email %> </p>

<h2 style="text-align:left; font-size: 18px; font-family: 'Roboto'; font-weight: 700; color: #B1063A;">Gruppen</h2>
<p style="text-align:left; font-size: 18px; font-family: 'Roboto'; font-weight: 400; color: #394044;"> Fotoclub <br> Clean IT-Club <br> HPI-ist-super-cool-Club </p>
