
<% if !current_user.nil? && current_user.id != item.owner %>

    <% if item.lend_status == "pending_pickup" %>
        <%= button_to t('views.show_item.confirm_pickup'), { action: "start_lend" }, class: "primaryButton" %>
        <p> remaining Days for pickup <%= item.get_remaining_time_from_lend_approval %> </p> 
    <% elsif item.holder == current_user.id %>
        <% if item.lend_status == "pending_return" %>
            <%= button_to t('views.show_item.pending_return_request'), { }, class: "secondaryButton", disabled: true %>
        <% else %>
            <%= button_to t('views.show_item.return'), { action: "request_return" }, class: "primaryButton" %>
        <% end %>
    <% elsif item.lend_status == "available" %>
        <%= button_to t('views.show_item.lend'), { action: "request_lend" }, class: "primaryButton" %>
    <% elsif !item.waitlist.users.exists?(current_user.id) %>
        <% if item.lend_status == "pending_lend_request" && !LendRequestNotification.find_by(user: item.owner, item: item, borrower: current_user).nil? %>
            <%= button_to t('views.show_item.pending_lend_request'), { }, class: "secondaryButton", disabled: true %> 
        <% else %>
            <%= button_to t('views.show_item.enter_waitlist'), { action: "add_to_waitlist" }, class: "primaryButton" %>
        <% end %>
    <% else %>
        <%= button_to t('views.show_item.leave_waitlist'), { action: "leave_waitlist" }, class: "primaryButton" %>
    <% end %>
<% end %>
