<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= item.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(item.image, class: "max-width300px") if item.image.attached? %>
  </p>

  <p>
    <strong>Price (EUR)</strong>
    <%= "#{item.price_in_euro.first},#{item.price_in_euro.second}€" %>
  </p>

  <p>
    <strong>Rental duration sec:</strong>
    <%= item.rental_duration_sec %>
  </p>

  <p>
    <strong>Rental start:</strong>
    <%= item.rental_start %>
  </p>

  <p>
    <strong>Return checklist:</strong>
    <%= item.return_checklist %>
  </p>

</div>
