<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<style>
:root{
  --grey04: #394044;
  --secondary08: #55A6BE;
}
  .caption{
    text-align: center;
  }
  .subtitle{
     margin-bottom: 0px;
  }
  .title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: capitalize;
    color: var(--grey04);
    margin: 1em 0px 0px 0px;
  }
  #location{
      text-align: center;
  }
  .centeredContainer{
      margin: 0 auto;
      width: 65%;
  }
  .image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    max-width: 25em;
    max-height: 25em !important; 
    padding-left: 0px;
    padding-right: 0px;  
  }
  .image img{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 25em !important;
  }

  #back-button{
    font-size: 35px;
  }

  #locationIcon{
    font-size: 20px;
    vertical-align: text-top;
  }

  .material-symbols-outlined{
    color: var(--grey04);
  }

  .secondaryButton {
    width: 100%;
  }

  .wishlistIcon {
    font-size: 1.5em;
    position: absolute;
    top: 0.225em;
    right: 0.25em;
    z-index: 100;
  }

  #notFilledEditItemIcon {
    float: right;
    padding-right: 0.25em;
    vertical-align: middle;
  }

  #filledWishlistIcon {
    color: var(--secondary08);
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
  }

  @media screen and (min-width: 768px) {
    .image{
      position:relative;
      overflow:hidden;
      padding-bottom:20em;
      width: 23em;
      height: 23em !important;
      padding-left: 0px;
      padding-right: 0px;   
    }
    .image img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 5px;
    }
    .centeredContainer{
      margin: 0 auto;
      width: 25em;
    }
  }
  
</style>
<div>
 
  <%= link_to items_url do %>
    <span class="material-symbols-outlined" id="back-button">chevron_left</span>
  <% end %>
  <% if (!current_user.nil? && @item.owner == current_user.id) %>
    <%= link_to edit_item_url(@item) do %>
        <span class="material-symbols-outlined editItemIcon" id="notFilledEditItemIcon">edit</span>
    <% end %>
  <% end %>
  
  <div class="row">
    <div class="centeredContainer">
      <div class="text-center">
        <div class="image container-fluid rounded">
          <!--only show filled icon if icon is on wishlist-->
          <!--span class="material-symbols-outlined wishlistIcon" id="filledWishlistIcon">grade</span-->
          <span class="material-symbols-outlined wishlistIcon" id="notFilledWishlistIcon">grade</span>
          <%= image_tag @item.image, class: "img img-responsive img-fluid rounded mx-auto d-block" if @item.image != nil%>
        </div>
        <div>
          <p class="title"><%=@item.name %></p>
        </div>
        <p class="body1" id="location">
          <span class="material-symbols-outlined" id="locationIcon">
            location_on</span>
          <%= @item.location %></p>
        <br>
      </div>
      <p class="subtitle"><%= t('views.show_item.category')%></p>
      <p class="body1"><%= @item.category %></p>
      <p class="subtitle"><%= t('views.show_item.description')%></p>
      <p class="body1"><%= @item.description %></p>
      <p class="subtitle"><%= t('views.show_item.owner')%></p>
      <p class="body1"><%= User.find(@item.owner).email %></p>
      <p class="subtitle"><%= t('views.show_item.lend_until')%></p>
      <p class="body1"><%= ((@item.rental_start.nil? ? Time.now() : @item.rental_start) + (@item.rental_duration_sec.nil? ? 86400 : @item.rental_duration_sec)).strftime('%d.%m.%Y') %></p>
      <!-- early implementation of the adaptive lend Button -->
      <% if current_user && @item.holder == current_user.id %>
        <%= button_to t('views.show_item.return'), action:"request_return" %>
      <% else %>
        <% if @item.lend_status == "available" %>
          <%= button_to t('views.show_item.borrow'), action:"request_lend" %>
        <% else %>
          <%= button_to t('views.show_item.enter_waitlist') %>
        <% end %>
      <% end %> 
      <br><br><br>
    </div>
  </div>
</div>