<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= button_to "Edit this item", edit_item_path(@item), {id: "edit_item_button"} if ((current_user != nil) and @item.owner == current_user.id) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, {method: :delete, id: "delete_item_button"} if ((current_user != nil) and @item.owner == current_user.id)%>
</div>
