<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<style>
    :root {
        --grey04: #394044;
        --secondary08: #55A6BE;
    }

    .caption {
        text-align: center;
    }

    .subtitle {
        margin-bottom: 0px;
    }

    .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-transform: capitalize;
        color: var(--grey04);
        margin: 1em 0px 0px 0px;
    }

    #location {
        text-align: center;
    }

    .centeredContainer {
        margin: 0 auto;
        width: 65%;
    }

    .image {
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;
        max-width: 25em;
        max-height: 25em !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    .image img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 25em !important;
    }

    #back-button {
        font-size: 35px;
    }

    #locationIcon {
        font-size: 20px;
        vertical-align: text-top;
    }

    .material-symbols-outlined {
        color: var(--grey04);
    }

    .btn-primary {
        text-decoration: none;
        display: inline;
    }

    .btn-secondary {
        display: inline;
    }

    .favoritesIcon {
        font-size: 2em;
        position: absolute;
        top: 0.225em;
        right: 0.25em;
        z-index: 100;
    }

    #filledFavoritesIcon {
        color: #ffd700;
        font-variation-settings: 'FILL' 1
    }

    #notFilledEditItemIcon {
        float: right;
        padding-right: 0.25em;
        vertical-align: middle;
    }

    #buttons {
        width: 100%;
    }

    .button {
        display: inline-block;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        .image {
            padding-bottom: 26em;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        .image {
            padding-bottom: 25em;
        }
    }

    @media screen and (min-width: 1200px)  and (max-width: 1399px) {
        .image {
            padding-bottom: 25em;
        }
    }

    @media screen and (min-width: 1400px) {
        .image {
            padding-bottom: 26em;
        }
    }
</style>

<div>

  <%= link_to :back do %>
    <span class="material-symbols-outlined" id="back-button">chevron_left</span>
  <% end %>
  <% if !current_user.nil? && @item.users_with_ownership_permission.include?(current_user) %>
    <%= link_to edit_item_url(@item) do %>
      <span class="material-symbols-outlined editItemIcon" id="notFilledEditItemIcon">edit</span>
    <% end %>
  <% end %>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="text-center col my-auto">
        <div class="image container-fluid rounded">

          <% if !current_user.nil? && !@item.users_with_ownership_permission.include?(current_user) %>
            <%= render "adaptive_favorites_button", current_user: current_user, item: @item %>
          <% end %>
          <%= image_tag @item.image, class: "img img-responsive img-fluid rounded mx-auto d-block" if @item.image.attached? %>

        </div>
      </div>

      <div class="col">
        <div>
          <div>
            <p class="title"><%= @item.name %></p>
          </div>
          <p class="body-1" id="location">
            <span class="material-symbols-outlined" id="locationIcon">
              location_on</span>
            <%= @item.location %></p>

          <br>
        </div>

        <p class="subtitle"><%= t('views.show_item.category') %></p>
        <p class="body-1"><%= @item.category %></p>
        <% if !@item.description.blank? %>
          <p class="subtitle"><%= t('views.show_item.description') %></p>
          <p class="body-1"><%= @item.description %></p>
        <% end %>
        <p class="subtitle"><%= t('views.show_item.owner') %></p>
        <p class="body-1"><%= @item.owning_user.nil? ? @item.owning_group.name : @item.owning_user.email %></p>

        <% if !@item.price_ct.nil? && @item.price_ct != 0 %>
          <p class="subtitle"><%= t('views.show_item.price') %></p>
          <p class="body-1"><%= @item.price_in_euro[0].to_s + "," + @item.price_in_euro[1].to_s + "€" %></p>
        <% end %>

        <% if !@item.holder.nil?%>
          <p class="subtitle"><%= t('views.show_item.lent_until') %></p>
          <p class="body-1"><%= @item.rental_end.strftime('%d.%m.%Y') %></p>
        <% end %>

        <p class="subtitle"><%= t('views.show_item.maximum_lending_duration')%></p>
        <p class="body-1"><%= @item.print_rental_duration %></p>

        <% if @item.return_checklist != "" %>
          <p class="subtitle"><%= t('views.edit_item.return_checklist')%></p>
          <p class="body-1"><%= @item.return_checklist %></p>
        <% end %>

        <% if !current_user.nil? && @item.users_with_ownership_permission.include?(current_user) %>
          <p class="subtitle"><%= t('views.show_item.lent_by') %></p>
          <p class="body-1">
            <% if !@item.holder.nil? %>
              <%= User.where(id: @item.holder).first.email %>
            <% else %>
              <%= t('views.show_item.not_lent') %>
            <% end %>
          </p>
        <% end %>

        <p class="subtitle"><%= t('views.show_item.waitlist') %></p>
        <p class="body-1">
          <% if !current_user.nil? %>
            <% if !@item.waitlist.users.exists?(current_user.id) %>
              <%= t('views.show_item.users_waiting', amount: @item.waitlist.users.size) %>
            <% else %>
              <%= t('views.show_item.waitlist_position', position: @item.waitlist.users.find_index(current_user) + 1) %>
            <% end %>
          <% end %>
        </p>
        <div id="buttons">
          <div class="button"> <%= render "adaptive_lend_button", current_user: current_user, item: @item %> </div>
          <div class="button">
            <% if @item.waitlist.users.size != 0 %>
              <%= render "show_waitlist_button", item: @item %>
            <% end %>
          </div>
          <div class="button">
            <% if !current_user.nil? && @item.users_with_ownership_permission.include?(current_user) %>
              <%= link_to t("views.show_item.qr_button"), { action: "generate_qrcode" }, class: "btn-primary" %>
            <% end %></div>
        </div>
      </div>
      <br><br><br>
    </div>
  </div>
</div>
</div>