<style>
  .imageLink {
    color: #394044;
    text-decoration: none;
  }

  @media screen and (min-width: 992px) {
  div.dropdown {
    display: none;
  }
}
</style>

<div class="mt-3 d-flex justify-content-end">
  <div>
    <%= link_to edit_user_registration_path, class: "imageLink" do%>
      <span class="material-symbols-outlined me-1">edit</span>
    <% end %>
    <%= link_to destroy_user_session_path, class: "imageLink", data: { "turbo-method": :delete } do %>
      <span class="material-symbols-outlined me-1 ms-1">logout</span>
    <% end %>
  </div>
  <div class="dropdown ms-1">
    <span class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= language_flag(I18n.locale)%>
    </span>
    <div class="dropdown-menu">
      <li> <%= link_to "English", params.permit.merge(locale: :en), class: "dropdown-item" %> </li>
      <li> <%= link_to "Deutsch", params.permit.merge(locale: :de), class: "dropdown-item" %> </li>
    </div>
  </div>
</div>

<div style="text-align:center">
  <%= image_tag "profile_picture_placeholder.png", class: "rounded-circle", size: "128x128", alt: "Profilbild" %>
</div>

<h1 class="mt-1" style="text-align:center"> <%= @user.name %> </h1>

<h2><%= t 'views.profile.roles' %></h2>
<p class="body-1">Student</p>

<h2><%= t 'views.profile.email' %></h2>
<p class="body-1"> <%= @user.email %> </p>

<h2><%= t 'views.profile.groups' %>
  <a class="badge rounded-pill text-bg-primary" href="<%= new_group_path %>"><i class="bi bi-plus"></i><%= t 'models.group.add' %>
  </a></h2>
<% if @user.groups.empty? %>
  <p class="body-1"> <%= t 'views.profile.no_groups' %></p>
<% else %>
  <ul>
    <% @user.groups.each do |group| %>
      <li><%= link_to group.name, group %></li>
    <% end %>
  </ul>
<% end %>
